<!DOCTYPE html>
<html lang="ru" ng-app="app">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Каталог книг</title>
    <!--<link href="vendor/bower_components/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">-->
    <link href="webjars/bootstrap/3.3.7-1/css/bootstrap.min.css
" rel="stylesheet">
    <script src="/webjars/angular/1.6.0/angular.js"></script>
    <script src="/webjars/angular-ui-bootstrap-bower/2.2.0/ui-bootstrap-tpls.min.js"></script>
    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->

    <script src="js/app.js"></script>
    <script src="js/controllers/MainController.js"></script>
    <script src="js/services/DataService.js"></script>
</head>
<body>
<div class="container-fluid" data-ng-controller="MainController">
    <!--<div class="table-responsive">-->
    <br/>
    <table class="table table-bordered table-striped">
        <thead>
        <tr>
            <th>id</th>
            <th>title</th>
            <th>code</th>
            <th>authors</th>
            <th>row</th>
            <th>col</th>
            <th>num</th>
        </tr>
        </thead>
        <tbody>
            <tr data-ng-repeat="record in books.list">
                <td>{{record.book.id}}</td>
                <td>{{record.book.title}}</td>
                <td>{{record.attributes!=undefined&&record.attributes.length>0?record.attributes[0].value:''}}</td>
                <td>{{record.authors!=undefined&&record.authors.length>0?record.authors[0].lastname+' '+record.authors[0].firstname+' '+record.authors[0].patronymic:''}}</td>
                <td>{{record.position.col}}</td>
                <td>{{record.position.row}}</td>
                <td>{{record.position.num}}</td>
            </tr>
        </tbody>
    </table>
    <ul uib-pagination boundary-links="true" class="pagination-sm" total-items="books.page.total" ng-model="books.page.number" items-per-page="books.page.size" max-size="10" ng-change="books.pageChanged()" previous-text="&lsaquo;" next-text="&rsaquo;" first-text="&laquo;" last-text="&raquo;"></ul>
    <!--</div>-->
</div>
</body>
</html>